argon2-cffi==23.1.0
wavedrom==2.0.3.post3
google-cloud-storage==2.18.2
patsy==1.0.1
tensorboardX==2.6.2.2
typing-inspection==0.4.0
ua-parser==0.18.0
PyWavelets==1.8.0
importlib_metadata==8.4.0
jupyter-events==0.12.0
catalogue==2.0.10
shellingham==1.5.4
setuptools==80.3.1
pycryptodome==3.21.0
backoff==2.2.1
nvidia-cuda-nvrtc-cu11==11.7.99
Send2Trash==1.8.3
cloudpickle==3.1.0
nbclient==0.10.2
contourpy==1.3.0
requests==2.32.3
lit==18.1.8
adjustText==0.8
diskcache==5.6.3
humansignal-drf-yasg==1.21.9
json5==0.10.0
rfc3986-validator==0.1.1
torchsummary==1.5.1
openai-agents==0.0.8
hf-xet==1.1.5
cachetools==5.5.0
semantic-version==2.10.0
natsort==8.4.0
jupyter_server==2.15.0
fastcore==1.7.26
pybgs==3.3.0.post2
isodate==0.7.2
memray==1.15.0
semver==3.0.2
boto3==1.35.40
async-lru==2.0.4
llvmlite==0.43.0
fastprogress==1.0.3
tinycss2==1.1.1
scikit-video==1.1.11
lightning==2.4.0
plotly==5.24.1
jsonschema-specifications==2024.10.1
django-user-agents==0.4.0
isoduration==20.11.0
colorful==0.5.6
rfc3339-validator==0.1.4
addict==2.4.0
fastai==2.7.18
label-studio-sdk==1.0.5
openxlab==0.0.11
nest-asyncio==1.6.0
proto-plus==1.24.0
pyasn1_modules==0.4.1
inflection==0.5.1
linkify-it-py==2.0.3
jupyter_core==5.7.2
mcp==1.6.0
google-crc32c==1.6.0
django-csp==3.7
torchmetrics==1.2.1
llava==1.2.2.post1
nbconvert==7.16.6
yarg==0.1.9
emoji==2.14.1
GitPython==3.1.43
asttokens==2.4.1
jupyterlab_pygments==0.3.0
django-cors-headers==3.6.0
tenacity==9.0.0
azure-core==1.31.0
docker-pycreds==0.4.0
ipywidgets==8.1.5
mistune==3.1.1
stevedore==5.4.1
jedi==0.19.1
grpc-google-iam-v1==0.13.1
nvidia-cusparselt-cu12==0.6.3
ruamel.yaml.clib==0.2.12
pycparser==2.22
argon2-cffi-bindings==21.2.0
beautifulsoup4==4.12.3
google-resumable-media==2.7.2
httpx==0.28.1
nvidia-htop==1.2.0
pipreqs==0.5.0
sniffio==1.3.1
nvidia-cufft-cu11==10.9.0.58
PySocks==1.7.1
jupyter_server_terminals==0.5.3
django-annoying==0.10.6
wcwidth==0.2.13
rpds-py==0.22.3
bleach==5.0.1
pathspec==0.12.1
referencing==0.35.1
nlpaug==1.1.11
Jinja2==3.1.3
nvidia-cuda-runtime-cu11==11.7.99
eval_type_backport==0.2.0
simsimd==6.0.5
latex2mathml==3.77.0
nag==0.0.0
transformations==2024.5.24
SQLAlchemy==2.0.36
hyperopt==0.2.7
grpcio==1.66.2
soupsieve==2.6
textual==0.89.1
gitdb==4.0.11
django-filter==2.4.0
pytesseract==0.3.10
threadpoolctl==3.5.0
googleapis-common-protos==1.65.0
tabulate==0.9.0
py-cpuinfo==9.0.0
ruamel.yaml==0.18.10
typer==0.15.1
stringzilla==3.10.10
jupyter-lsp==2.2.5
ujson==5.10.0
pytorch-metric-learning==2.3.0
expiringdict==1.2.2
google-cloud-logging==3.11.2
comm==0.2.2
easydict==1.13
ordered-set==4.0.2
fastjsonschema==2.21.1
autogluon.features==1.2
user-agents==2.2.0
types-requests==2.32.0.20250328
lightning-utilities==0.11.9
pexpect==4.9.0
boxing==0.1.4
fairscale==0.4.13
language_data==1.3.0
requests-mock==1.12.1
wasabi==1.1.3
docopt==0.6.2
google-api-python-client==2.153.0
jiter==0.5.0
segment-anything==1.0
asgiref==3.8.1
cymem==2.0.10
python-multipart==0.0.20
positional-encodings==6.0.3
drf-flex-fields==0.9.5
fqdn==1.5.1
django-extensions==3.1.0
pydantic-settings==2.8.1
fugue==0.9.1
joblib==1.4.2
webdataset==0.2.100
mlforecast==0.13.4
launchdarkly-server-sdk==8.2.1
websocket-client==1.8.0
rdkit==2024.3.6
supervision==0.23.0
openmim==0.3.9
google-generativeai==0.8.3
types-python-dateutil==2.9.0.20241206
jupyter==1.1.1
triad==0.9.8
cffi==1.17.1
rsa==4.7.2
tifffile==2024.9.20
mdurl==0.1.2
awscli==1.36.14
spacy==3.7.5
pydub==0.25.1
ffmpy==0.5.0
pip==25.0.1
psycopg2-binary==2.9.9
nvidia-cusparse-cu11==11.7.4.91
Deprecated==1.2.14
thop==0.1.1-2209072238
sse-starlette==2.2.1
graphviz==0.20.3
spacy-loggers==1.0.5
ultralytics==8.3.55
htmlmin==0.1.12
murmurhash==1.0.11
python-dotenv==1.0.1
django-environ==0.10.0
nbformat==5.10.4
sentencepiece==0.2.0
opencensus-context==0.1.3
cloudpathlib==0.20.0
redis==3.5.3
aiohappyeyeballs==2.4.4
clip==1.0
autogluon.common==1.2
django-ranged-fileresponse==0.1.2
thinc==8.2.5
Werkzeug==3.0.4
xmljson==0.2.1
hjson==3.1.0
nvidia-curand-cu11==10.2.10.91
nvidia-nccl-cu11==2.14.3
nvidia-cudnn-cu11==8.5.0.96
opencensus==0.11.4
altair==5.5.0
portalocker==2.10.1
label-studio==1.13.1
google-auth==2.35.0
einops-exts==0.0.4
boto==2.49.0
lap==0.4.0
opencv-contrib-python==4.10.0.84
torchinfo==1.8.0
django-storages==1.12.3
greenlet==3.1.1
pycocotools==2.0.8
sqlparse==0.5.1
python-json-logger==2.0.4
adagio==0.2.6
virtualenv==20.28.0
jupyterlab_widgets==3.0.13
ray==2.39.0
django-model-utils==4.1.1
marisa-trie==1.2.1
arrow==1.3.0
fasttext==0.9.3
kiwisolver==1.4.7
window_ops==0.0.15
Cython==3.0.11
virtualenv-clone==0.5.7
google-ai-generativelanguage==0.6.10
proglog==0.1.10
multiprocess==0.70.16
ijson==3.3.0
model-index==0.1.11
optuna==4.1.0
progress==1.6
gql==3.5.2
django-debug-toolbar==3.2.1
srsly==2.5.0
nvidia-cublas-cu11==11.10.3.66
nvidia-ml-py3==7.352.0
lazy_loader==0.4
eva-decord==0.6.1
anyio==4.9.0
autogluon.core==1.2
shortuuid==1.0.13
dataclasses==0.6
Django==3.2.25
jupyterlab==4.3.5
black==24.10.0
statsmodels==0.14.4
google-cloud-appengine-logging==1.4.5
dill==0.3.8
defusedxml==0.7.1
pytorchvideo==0.1.5
yacs==0.1.8
confection==0.1.5
spacy-legacy==3.0.12
fvcore==0.1.5.post20221221
absl-py==2.1.0
nltk==3.8.1
pickleshare==0.7.5
markdown2==2.5.3
fastdownload==0.0.7
seaborn==0.13.2
overrides==7.7.0
vidstab==1.7.4
nvidia-cuda-cupti-cu11==11.7.101
toolz==0.12.1
drf-dynamic-fields==0.3.0
httpcore==1.0.7
graphql-core==3.2.4
wordcloud==1.9.4
yapf==0.43.0
cmake==3.31.1
gdown==5.2.0
wrapt==1.16.0
evaluate==0.4.3
backcall==0.2.0
orjson==3.10.12
gluonts==0.16.0
autogluon.multimodal==1.2
pdf2image==1.17.0
mss==9.0.2
parso==0.8.4
pandasql==0.7.3
jsonpointer==3.0.0
requests-toolbelt==1.0.0
ollama==0.3.3
autogluon.tabular==1.2
distlib==0.3.9
virtualenvwrapper==6.1.1
h11==0.14.0
seqeval==1.2.2
azure-storage-blob==12.23.1
py-spy==0.4.0
ultralytics-thop==2.0.13
text-unidecode==1.3
numba==0.60.0
appdirs==1.4.4
pyrsistent==0.20.0
drf-generators==0.3.0
jupyterlab_server==2.27.3
preshed==3.0.9
braceexpand==0.1.7
coreforecast==0.0.12
statsforecast==1.7.8
opentelemetry-api==1.27.0
mpmath==1.3.0
blis==0.7.11
nvidia-nvtx-cu11==11.7.91
pbr==6.1.1
djangorestframework==3.13.1
propcache==0.2.1
notebook_shim==0.2.4
autogluon==1.2
fonttools==4.53.1
hydra-core==1.3.2
fs==2.4.16
weave==0.51.41
rules==2.2
jsonschema==4.23.0
oauth2client==4.1.3
uuid_utils==0.10.0
xgboost==2.1.3
msgpack==1.1.0
utilsforecast==0.2.4
lumaai==1.2.1
py4j==0.10.9.7
langcodes==3.5.0
s3transfer==0.10.3
uc-micro-py==1.0.3
pandocfilters==1.5.1
opendatalab==0.0.10
django-rq==2.5.1
jupyter-console==6.6.3
google-auth-httplib2==0.2.0
SAM-2==1.0
PyDrive==1.3.1
mdit-py-plugins==0.3.3
qudida==0.0.4
httpx-sse==0.4.0
uri-template==1.3.0
griffe==1.7.2
filterpy==1.4.5
alembic==1.14.0
prometheus_client==0.21.1
smmap==5.0.1
catboost==1.2.7
grpcio-status==1.66.2
tomli==2.0.2
cycler==0.12.1
lvis==0.5.3
tensorboard-data-server==0.7.2
pyasn1==0.6.1
notebook==7.3.2
google-api-core==2.21.0
terminado==0.18.1
decord==0.6.0
narwhals==1.25.2
mypy-extensions==1.0.0
botocore==1.35.73
docutils==0.16
imageio-ffmpeg==0.5.1
pysodmetrics==1.4.2
pybind11==2.13.6
imutils==0.5.4
jmespath==1.0.1
chardet==5.2.0
weasel==0.4.1
babel==2.17.0
lightgbm==4.5.0
rq==1.10.1
filelock==3.13.1
google-cloud-core==2.4.1
aiohttp-cors==0.7.0
uritemplate==4.1.1
google-cloud-audit-log==0.3.0
parameterized==0.9.0
svgwrite==1.4.3
smart-open==7.0.5
webcolors==24.11.1
nvidia-cusolver-cu11==11.4.0.1
widgetsnbextension==4.0.13
lxml==5.3.0
aiosignal==1.3.1
groundingdino==0.1.0
fsspec==2025.7.0
python-slugify==8.0.4
torchaudio==2.7.0+cu128
decorator==5.2.1
imageio==2.37.0
mixpanel==4.10.1
colorama==0.4.6
aiofiles==24.1.0
tomlkit==0.13.3
platformdirs==4.3.8
executing==2.2.0
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
transformers==4.52.3
kornia_rs==0.1.9
datasets==3.6.0
bitsandbytes==0.46.0
jupyter_client==8.6.3
bottle==0.12.25
av==14.4.0
typing_extensions==4.13.2
nest_asyncio==1.6.0
ipython==8.36.0
torch==2.7.0+cu128
torch==2.7.0
ipykernel==6.29.5
sentry-sdk==2.33.1
pyarrow==20.0.0
Brotli==1.1.0
traitlets==5.14.3
safetensors==0.5.3
zipp==3.22.0
spandrel==0.4.1
nvidia-cusparselt-cu12==0.6.3
packaging==25.0
nvidia-curand-cu12==10.3.9.55
MarkupSafe==2.1.5
nvidia-cuda-runtime-cu12==12.8.57
setuptools==80.8.0
xxhash==3.5.0
wcwidth==0.2.13
Pygments==2.19.1
openai==1.95.1
protobuf==3.20.3
scipy==1.15.3
nvidia-cusolver-cu12==11.7.2.55
tornado==6.5.1
uvicorn==0.35.0
pytest==7.2.0
matrix-client==0.4.0
setproctitle==1.3.6
PyNaCl==1.5.0
triton==3.3.0
nvidia-cublas-cu12==12.8.3.14
pandas==2.2.3
clint==0.5.1
nvidia-nvtx-cu12==12.8.55
comm==0.2.2
pexpect==4.9.0
ftfy==6.3.1
comfyui-embedded-docs==0.2.4
debugpy==1.8.14
starlette==0.47.1
six==1.17.0
pillow==11.0.0
pyparsing==3.2.3
fastapi==0.116.1
networkx==3.4.2
certifi==2025.4.26
cookiecutter==2.6.0
PyGithub==2.6.1
peft==0.15.2
sentencepiece==0.2.0
binaryornot==0.4.4
iniconfig==2.1.0
PyYAML==6.0.2
pydantic_core==2.33.2
nvidia-nvjitlink-cu12==12.8.61
kornia==0.8.1
trampoline==0.1.2
prompt_toolkit==3.0.51
charset-normalizer==3.4.2
soundfile==0.13.1
pytest-split==0.8.0
numpy==1.26.4
exceptiongroup==1.3.0
uv==0.8.0
pluggy==1.6.0
opencv-python==4.11.0.86
questionary==2.1.0
tokenizers==0.21.1
attention_map_diffusers==0.1.5
asttokens==3.0.0
pickleshare==0.7.5
nvidia-cuda-nvrtc-cu12==12.8.61
accelerator==2024.9.13
nvidia-cufile-cu12==1.13.0.11
websockets==15.0.1
idna==3.10
cryptography==45.0.4
nvidia-cufft-cu12==11.3.3.41
parso==0.8.4
stack_data==0.6.3
jedi==0.19.2
groovy==0.1.2
safehttpx==0.1.6
comfyui_workflow_templates==0.1.37
trl==0.19.1
image-reward==1.5
pytz==2025.2
waitress==3.0.2
pip==25.1.1
regex==2024.11.6
gradio==5.38.0
wheel==0.45.1
sympy==1.13.3
click==8.1.8
wandb==0.21.0
diffusers==0.35.0.dev0
nvidia-cusparse-cu12==12.5.7.53
ptyprocess==0.7.0
einops==0.8.1
nvidia-nccl-cu12==2.26.2
importlib_metadata==8.7.0
hpsv2x==1.2.0
pure_eval==0.2.3
comfy-cli==1.4.1
hf-xet==1.1.2
tqdm==4.67.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
matplotlib==3.10.3
Mako==1.3.10
toml==0.10.2
comfyui_frontend_package==1.23.4
psutil==7.0.0
matplotlib-inline==0.1.7
jupyter_core==5.8.1
args==0.1.0
pydantic==2.11.7
distro==1.9.0
pyzmq==26.4.0
huggingface-hub==0.32.2
gradio_client==1.11.0
timm==0.6.13
ruff==0.12.4
urllib3==1.26.20
accelerate==1.7.0
annotated-types==0.7.0
torchvision==0.22.0+cu128
torchsde==0.2.6
